{#
/**
 * @file
 * Default theme implementation to display twocolumn layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout wrapper.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <section {{ region_attributes.main.addClass('layout__region', 'layout__region--main') }}>
    <div class="max-w-screen-lg mx-auto py-6 sm:px-6 lg:px-8">
      {{ content.main }}
    </div>
  </section>
{% endif %}
