<a class='btn' id='add-content-dropdown' href='#' data-target='add-domain-content-dropdown'>  <i class="material-icons left">add</i>Add</a>
  <ul id='add-domain-content-dropdown' class='dropdown-content'>
    <li><a href="{{ usecase }}"><i class="material-icons">work</i>Use Case</a></li>
    <li><a href="{{ event }}"><i class="material-icons">event</i>Event</a></li>
    <li><a href="{{ blog }}"><i class="material-icons">edit</i>Blog</a></li>
  </ul>
