<ul class="border border-gray-200 rounded-md divide-y divide-gray-200 my-5">
    {% for credential in credentials %}
    {% set credential_id = credential.credentials.credential_id %}
    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
        <div class="w-48 flex-1 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
            </svg>
            <span class="ml-2 flex-1 w-0 truncate">
                {{ credential_id }}
            </span>
        </div>
        <div class="ml-4 flex-shrink-0">
            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                Revoke
            </a>
        </div>
        <div class="ml-4 flex-shrink-0">
            <a href="#usage-{{ credential_id }}" rel="modal:open" class="font-medium text-indigo-600 hover:text-indigo-500">
                Get Usage
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
