{% for credential in credentials %}
{% if credential.credentials.type == "keypair" %}
{% set consumer_key = credential.credentials.consumer_key %}
{% set consumer_secret = credential.credentials.consumer_secret %}
<ul class="border border-gray-200 rounded-md divide-y divide-gray-200 my-5">
    <li class="pl-3 pr-4 py-3 items-center justify-between text-sm">
        <div class="w-48 grid grid-cols-4 gap-6 py-2">
            <span class="mr-2 font-bold col-span-1">
                Key
            </span>
            <span class="ml-2 col-span-3">
                {{ consumer_key }}
            </span>
        </div>
        <div class="w-48 flex-1 flex items-center py-2">
            <span class="mr-2 font-bold">
                Secret
            </span>
            <span class="ml-2">
                {{ consumer_secret }}
            </span>
        </div>
        <div class="w-48 flex-1 flex items-center py-2">
        <div class="">
            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                Revoke
            </a>
        </div>
        <div class="ml-4">
            <a href="#usage-{{ credential_id }}" rel="modal:open" class="font-medium text-indigo-600 hover:text-indigo-500">
                Get Usage
            </a>
        </div>
        </div>
    </li>
</ul>
{% endif %}
{% endfor %}
