<div class="relative">
  <div class="absolute inset-x-0 bottom-0 h-1/2"></div>
  <div class="container mx-auto px-5 py-5 sm:px-6 lg:px-8">
    <div class="relative shadow-xl sm:rounded-lg sm:overflow-hidden">
      <div class="absolute inset-0">
        <img class="h-full w-full object-cover" src="{{ image_url }}" alt="People working on laptops">
        <div class="absolute inset-0 bg-gray-400" style="mix-blend-mode: multiply;"></div>
      </div>
      <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
        <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
          <span class="block text-white">Take control of your listings.</span>
        </h1>
        <p class="mt-6 max-w-lg mx-auto text-center text-xl text-white sm:max-w-3xl">
          Get realtime feeds in your app in as quick as 2 minutes.
        </p>
        <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
          <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
            <a href="{{ url }}/Products" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-red-700 sm:px-8">
              View Products
            </a>
            <a href="{{ url }}/use-cases" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-red-700 sm:px-8">
              Explore Use-cases
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
