<div class="mt-3 px-2 space-y-1">
{% for item in menu %}
  <a href="{{ item.link }}" class="block rounded-md px-3 py-2 text-base text-gray-900 font-medium hover:bg-gray-100 hover:text-gray-800">{{ item.title }}</a>
{% endfor %}
</div>
